@import "tailwindcss";

@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --color-brand-dark-primary: #a8d6fc;
    --color-brand-light-primary: #3c3a97;
}

[data-theme="dark"] {
    --p: 204 94% 82%;
    /* #a8d6fc in HSL */
    --pc: 222 47% 11%;
    /* #0f172a */
    --s: 241 45% 41%;
    /* #3c3a97 */
    --sc: 0 0% 100%;
    --a: 340 100% 63%;
    /* #ff4081 */
    --ac: 0 0% 100%;
    --n: 240 9% 13%;
    /* #1e1e24 */
    --nc: 220 5% 66%;
    /* #a6adbb */
    --b1: 0 0% 7%;
    /* #121212 */
    --b2: 0 0% 12%;
    /* #1e1e1e */
    --b3: 0 0% 15%;
    /* #252525 */
    --bc: 0 0% 85%;
    /* #dadada */
    --in: 198 93% 60%;
    /* #3abff8 */
    --inc: 198 100% 12%;
    /* #002b3d */
    --su: 158 93% 53%;
    /* #16f7a5 */
    --suc: 154 100% 8%;
    /* #002a18 */
    --wa: 42 96% 56%;
    /* #fbbd23 */
    --wac: 43 100% 11%;
    /* #382800 */
    --er: 0 91% 70%;
    /* #f87272 */
    --erc: 0 100% 14%;
    /* #470000 */
}

[data-theme="light"] {
    --p: 241 45% 41%;
    /* #3c3a97 */
    --pc: 0 0% 100%;
    --s: 204 94% 82%;
    /* #a8d6fc */
    --sc: 222 47% 11%;
    /* #0f172a */
    --a: 340 100% 63%;
    /* #ff4081 */
    --ac: 0 0% 100%;
    --n: 213 18% 20%;
    /* #2a323c */
    --nc: 0 0% 100%;
    --b1: 0 0% 95%;
    /* #f2f2f2 */
    --b2: 0 0% 90%;
    /* #e5e5e5 */
    --b3: 0 0% 84%;
    /* #d6d6d6 */
    --bc: 215 28% 17%;
    /* #1f2937 */
    --in: 199 89% 48%;
    /* #0ea5e9 */
    --inc: 0 0% 100%;
    --su: 142 76% 36%;
    /* #16a34a */
    --suc: 0 0% 100%;
    --wa: 35 92% 44%;
    /* #d97706 */
    --wac: 0 0% 100%;
    --er: 0 72% 51%;
    /* #dc2626 */
    --erc: 0 0% 100%;
}